@page "/"

<PageTitle>StockBot BackOffice</PageTitle>

<h4>StockBot BackOffice</h4>
<p class="text-muted">請從左側導覽選擇功能。</p>

<div class="row g-3 mt-2">
    <div class="col-auto">
        <a href="/whitelist" class="btn btn-outline-primary">白名單管理</a>
    </div>
    <div class="col-auto">
        <a href="/articles" class="btn btn-outline-secondary">PTT 文章瀏覽</a>
    </div>
</div>
